
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    Swal.fire({
                        icon: '{{ category }}',
                        title: '{{ message }}',
                        showConfirmButton: true,
                    });
                {% endfor %}
            {% endif %}
        {% endwith %}
</script>
