<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wildvine - Give Love for Saving World Animals</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--- #HEADER -->
   {% include 'template/header.html' %}

    <main>
      <article>
        <!--- #HERO -->

        <!--- #FEATURES-->

        <!--- #ABOUT -->

        <!--
        - #CTA
      -->

        <!--
        - #SERVICE
      -->

        <!--- #DONATE -->

        <section class="section donate event" id="donate">
          <div class="container">
            <ul class="donate-list">
              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="{{ url_for('static', filename='images/donate-1.jpg') }}"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <a href="{{ url_for('index.donate') }}">
                      <button class="btn btn-secondary">
                        <span>Donation</span>

                        <ion-icon
                          name="heart-outline"
                          aria-hidden="true"
                        ></ion-icon></button
                    ></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="{{ url_for('static', filename='images/donate-2.jpg') }}"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <a href="{{ url_for('index.donate') }}">
                      <button class="btn btn-secondary">
                        <span>Donation</span>

                        <ion-icon
                          name="heart-outline"
                          aria-hidden="true"
                        ></ion-icon></button
                    ></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="{{ url_for('static', filename='images/donate-3.jpg') }}"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <a href="{{ url_for('index.donate') }}">
                      <button class="btn btn-secondary">
                        <span>Donation</span>

                        <ion-icon
                          name="heart-outline"
                          aria-hidden="true"
                        ></ion-icon></button
                    ></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="{{ url_for('static', filename='images/donate-4.jpg') }}"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <a href="{{ url_for('index.donate') }}">
                      <button class="btn btn-secondary">
                        <span>Donation</span>

                        <ion-icon
                          name="heart-outline"
                          aria-hidden="true"
                        ></ion-icon></button
                    ></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <!--- #TESTIMONIALS -->

        <!--- #PARTNER -->

        <!--- #EVENT -->

        <!--- #INSTA POST-->
      </article>
    </main>

    <!--- #FOOTER-->

   {% include 'template/footer.html' %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
  </body>
</html>
